body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  background-color: #202040;
}

.container-navbar{
  width: 80%;
  margin-inline: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #bbe1fa;
}

.gb-brand {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #202040;
  text-decoration: none;
  cursor: pointer;
}

.nav-link {
  list-style: none;
  margin-right: 290px;
}

.nav-link li {
  display: inline-block;
  padding: 0 25px;
}

.gb-link {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #202040;
  text-decoration: none;
}

.gb-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid #202040;
  width: 70%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

/* header-start */
.container {
  padding: 3rem 10rem;

}

.main {
  width: 100%;
  height: 100vh;
  background: url(assets/img/gb-background.png);
  background-size: cover;
  position: absolute;
  z-index: -1;

}

.main-content {
  display: flex;
}

.text {
  padding-top: 12rem;
}

.banner {
  margin-top: -250px;
  margin-left: -50px;
  float: right;
}

.text h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
  color: white;
  font-weight: 500 !important;
}

.deskripsi {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;

}

.btn{
  padding: 10px 10%;
  background-color: #1c5a84;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
}

.btn:hover{
  background-color: #bbe1fa;
  color: #202040;
  transition: 0.5s;
}

/* content start */
.ractangle{
  height: 300px;
  width: 500px;
  background: url(assets/img/gamer.jpeg);
  background-size: cover;
  border-radius: 20px;
  margin-top: 850px;
  margin-left: 150px;
  margin-bottom: 100px;
  position: absolute;
  z-index: -1;
}

.title{
  margin-top: 690px;
  margin-left: 700px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
  position: absolute;
}

.deskripsi2 {
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
  font-family: 'Quicksand', sans-serif;

}

.btn-join{
  margin-top: 45px;
  font-weight: 500;
  font-size: 15px !important;
}


/* quotes start */
.quotes h3{
  margin-top: 1180px;
  margin-left: 410px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500 !important;
  position: absolute;
  z-index: -1;
  font-style: italic;
}

.circle1{
  margin-top: 1250px;
  margin-left: 525px;
  height: 150px;
  width: 150px;
  background-image: url(assets/img/quotes1.png);
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  z-index: -1;

}

.name-title{
  margin-top: 1410px;
  margin-left: 540px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 25px;
  position: absolute;
  z-index: -1;

}

.title-personal{
  margin-left: 7px;
  font-size: 12px;
  
}


